@media all and (min-width:320px){
    .card-pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: rgba(216, 73, 73, 0.2); */
        width: 100%;
        font-weight: 500;
        font-size: 0.6rem;
        margin-bottom: 1rem;
      }
      
      .card-pagination-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        /* padding: 8px 14px; */
        height: 1.5rem;
        width: 1.5rem;
        text-decoration: none;
        transition: background-color .2s;
        //border: 1px solid #ddd;
        cursor: pointer;
        
      }
      
      .card-pagination-container a.active {
        border-radius: 100%;
        background-color: #001489;
        color: white;
        border: 1px solid #001489;
      }
      
      .card-pagination-container a.disabled { 
        opacity: 0.2;
      }
      .card-pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);border-radius: 100%;}
}

@media all and (min-width:768px){
    .card-pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: rgba(216, 73, 73, 0.2); */
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
      
      .card-pagination-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        /* padding: 8px 14px; */
        height: 3rem;
        width: 3rem;
        text-decoration: none;
        transition: background-color .2s;
        //border: 1px solid #ddd;
        cursor: pointer;
        
      }
      
      .card-pagination-container a.active {
        border-radius: 100%;
        background-color: #001489;
        color: white;
        border: 1px solid #001489;
      }
      
      .card-pagination-container a.disabled { 
        opacity: 0.2;
      }
      .card-pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);border-radius: 100%;}
}

@media all and (min-width:1024px){
    .card-pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: rgba(216, 73, 73, 0.2); */
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 3rem;
      }
      
      .card-pagination-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        /* padding: 8px 14px; */
        height: 3rem;
        width: 3rem;
        text-decoration: none;
        transition: background-color .2s;
        //border: 1px solid #ddd;
        cursor: pointer;
        
      }
      
      .card-pagination-container a.active {
        border-radius: 100%;
        background-color: #001489;
        color: white;
        border: 1px solid #001489;
      }
      
      .card-pagination-container a.disabled { 
        opacity: 0.2;
      }
      .card-pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);border-radius: 100%;}
}