.cardPageWrapper{
    width : 80%;
}
@media all and (min-width:320px){
    .cardPageWrapper{
        width :95%;
        .cardPageTitle{
            width : 100%;
            margin-bottom: 1rem;
            height: 2rem;
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgb(77, 75, 75);
            span{
                text-align: center;
                font-size: 1rem;
                font-weight: 800;
                padding-bottom: 1rem;
                margin-bottom: 0rem;
            }
        }
        
        .CardPagenatorWrapper{
            width : 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
                .CardNumberWrapper{
                    width : 100%;
                    display: block;
                    overflow: hidden;
                    margin-top: 1.5rem;
                }
        }
    }
}

@media all and (min-width:768px){
    .cardPageWrapper{
        //margin-top: 5rem;
        .cardPageTitle{
            width : 100%;
            margin-bottom: 4rem;
            height: 3rem;
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgb(77, 75, 75);
            span{
                //text-align: center;
                font-size: 2rem;
                font-weight: 800;
                padding-bottom: 0rem;
                //margin-bottom: 2rem;
            }
        }
        
        .CardPagenatorWrapper{
            width : 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
                .CardNumberWrapper{
                    width : 100%;
                    display: block;
                    overflow: hidden;
                    margin-top: 1.5rem;
                }
        }
    }
}

@media all and (min-width:1024px){
    .cardPageWrapper{
        //border : 1px solid red;
        .cardPageTitle{
            width : 100%;
            height: 4rem;
            margin-top: 5rem;
            margin-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            //align-items: center;
            //justify-content: center;
            border-bottom: 1px solid rgb(77, 75, 75);
            //border : 1px solid red;
            span{
                //text-align: center;
                padding-bottom: 4rem;
                font-size: 2rem;
                font-weight: 800;
                //border : 1px solid red;
            }
        }
        
        .CardPagenatorWrapper{
            width : 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
                .CardNumberWrapper{
                    width : 100%;
                    display: block;
                    overflow: hidden;
                    //margin-top: 1.5rem;
                }
        }
    }
}