
@media all and (min-width: 320px) {
   
}
@media all and (min-width: 768px) {

}
@media all and (min-width: 1024px) {
  .aboutPageWrapper {
      width: 100%;
      height: 100vh;
      background-color: red;
  }
}
