@media all and (min-width: 320px) {
  .miniboardWrapperTwo {
    width: 17rem;
    height: 18rem;
    background-color: #eeeef9;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .miniboardHeaderWrapper {
      margin-bottom: 0.5rem;
      width: 100%;
      height: 2rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      .boradMore {
        padding-top: 2rem;
        span {
          display: block;
          margin-right: 0.8rem;
          font-size: 1.2rem;
        }
      }
      .boardName {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 2rem;
        background-color: #000a60;
        position: absolute;
        left: -1rem;
        top: 1rem;
        border-radius: 2px;
        span {
          color: #ffffff;
          font-size: 0.7rem;
          font-weight: 600;
        }
      }
    }
    .boardLinkWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1rem;
      .boardLinkItem {
        margin-bottom: 0.4rem;
        span {
          margin-left: 1rem;
          font-weight: 400;
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media all and (min-width: 768px) {
  .miniboardWrapperTwo {
    width: 28rem;
    height: 22rem;
    background-color: #eeeef9;
    margin-bottom: 2rem;
    border-radius: 10px;
    .miniboardHeaderWrapper {
      width: 100%;
      height: 2rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      .boradMore {
        padding-top: 2.2rem;
        span {
          display: block;
          margin-right: 0.8rem;
          font-size: 2rem;
        }
      }
      .boardName {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 2rem;
        background-color: #000a60;
        position: absolute;
        left: -1rem;
        top: 1rem;
        border-radius: 2px;
        span {
          color: #ffffff;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
    .boardLinkWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1.5rem;
      .boardLinkItem {
        margin-bottom: 0.7rem;
        span {
          margin-left: 2rem;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
}
@media all and (min-width: 1024px) {
  .miniboardWrapperTwo {
    width: 22rem;
    height: 32rem;
    background-color: #eeeef9;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .miniboardHeaderWrapper {
      margin-bottom: 3rem;
      width: 100%;
      height: 2rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      .boradMore {
        padding-top: 3rem;
        span {
          display: block;
          margin-right: 0.8rem;
          font-size: 3rem;
          cursor: pointer;
          &:hover{
          color : blue;
          text-decoration: blue;
        }
        }
      }
      .boardName {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 3rem;
        background-color: #000a60;
        position: absolute;
        left: -1rem;
        top: 1rem;
        border-radius: 2px;
        span {
          color: #ffffff;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
    .boardLinkWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width : 80%;
      .boardLinkItem {
        margin-bottom: 1.5rem;
        //border : 1px solid red;
        cursor: pointer;
        &:hover{
          color : #000a60;
          text-decoration: #000a60;
        }
        span {
          margin-left: 1rem;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .miniboardWrapperTwo {
    width: 30rem;
    height: 36rem;
    background-color: #eeeef9;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .miniboardHeaderWrapper {
      margin-bottom: 3rem;
      width: 100%;
      height: 2rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      .boradMore {
        padding-top: 3rem;
        span {
          display: block;
          margin-right: 0.8rem;
          font-size: 3rem;
          cursor: pointer;
          &:hover{
          color : blue;
          text-decoration: blue;
        }
        }
      }
      .boardName {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 3rem;
        background-color: #000a60;
        position: absolute;
        left: -1rem;
        top: 1rem;
        border-radius: 2px;
        span {
          color: #ffffff;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
    .boardLinkWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width : 80%;
      margin-top: 1rem;
      .boardLinkItem {
        margin-bottom: 1.4rem;
        //border : 1px solid red;
        cursor: pointer;
        &:hover{
          color : #000a60;
          text-decoration: #000a60;
        }
        span {
          margin-left: 1rem;
          font-weight: 600;
          font-size: 1.2rem;
        }
      }
    }
  }
}

