.sloganCompanyWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .sloganWrapper {
    width: 80%;
    border-bottom: 2px solid #0d1875;
    .topLineWrapper {
      width: 70%;
      border: 1px solid #0d1875;
      position: relative;
      img {
        display: block;
        position: absolute;
        width: 5rem;
        right: -6rem;
        top: -0.5rem;
      }
    }
    .sloganTitleWrapper {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-startㅌ;
      span {
        display: block;
        font-weight: 800;
        font-size: 0.8rem;
      }
    }
    .sloganDeskWrapper {
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      span {
        display: block;
        width: 95%;
        line-height: 160%;
        font-size: 0.3rem;
      }
    }
  }
}
