@media all and (min-width: 320px) {
  .footerWrapper {
    width: 100%;
    height: 15vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    .footerLogoWrapper {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
        // border: 1px solid red;
      span {
        margin-left: 2rem;
        display: block;
        color: #ffffff;
        font-weight: 800;
      }
    }
    .footerContentWrapper {
      // border: 1px solid blue;
      width: 33%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;

      span {
        // margin-right: 3rem;
        line-height: 160%;
        display: block;
        color: #ffffff;
        font-weight: 200;
        font-size: 0.8rem;
        text-align: center;
      }
    }
    .iconWrapper{
      // border: 1px solid yellow;
      width: 33%;
      display: none;
      justify-content: center;
      align-items: center;

      img{
        width: 2.5rem;
        height: 2.5rem;
        margin: 0rem 0.4rem;
        cursor: pointer;
      }

    }

  }
}
@media all and (min-width: 768px) {
  .footerWrapper {
    width: 100%;
    height: 20vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    .footerLogoWrapper {
      width: 33%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
        // border: 1px solid red;
      span {
        margin-left: 2rem;
        display: block;
        color: #ffffff;
        font-weight: 800;
      }
    }
    .footerContentWrapper {
      // border: 1px solid blue;
      width: 33%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        // margin-right: 3rem;
        line-height: 160%;
        display: block;
        color: #ffffff;
        font-weight: 200;
        font-size: 0.8rem;
        text-align: center;
        white-space: nowrap;
      }
    }
    .iconWrapper{
      // border: 1px solid yellow;
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 2.5rem;
        height: 2.5rem;
        margin: 0rem 0.4rem;
        cursor: pointer;
      }

    }

  }
}
@media all and (min-width: 1024px) {
  .footerWrapper {
    width: 100%;
    height: 30vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    .footerLogoWrapper {
      width: 18%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
        // border: 1px solid red;
      span {
        margin-top: 4.3rem;
        margin-left: 2rem;
        display: block;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 800;
      }
    }
    .footerContentWrapper {
      // border: 1px solid blue;
      width: 33%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: -5rem;

      span {
        // margin-right: 3rem;
        line-height: 160%;
        display: block;
        color: #ffffff;
        font-weight: 200;
        font-size: 1rem;
        text-align: start;
        white-space: nowrap;
      }

      .bar{
        font-size: 1rem;
        padding:0rem 1rem ;
      }

      .copyrights{
        font-size: 1rem;
        color:#0057ff;
      }
    }
    .iconWrapper{
      // border: 1px solid yellow;
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img{
        width: 2.5rem;
        height: 2.5rem;
        margin: 4.3rem 1rem;
        cursor: pointer;
      }

    }

  }
}
