@font-face {
  font-family: 'Spoqa';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Spoqa';
}

* {
  font-family: 'Spoqa';
}
