.cardPageWrapper{
    width : 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media all and (min-width:320px){

}

@media all and (min-width:768px){
    
}

@media all and (min-width:1024px){
    .cardPageWrapper{
        .cardPageTitle{
            width : 100%;
            margin-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgb(77, 75, 75);
            span{
                text-align: center;
                font-size: 2rem;
                font-weight: 800;
                padding-bottom: 1rem;
            }
        }
        
    }
}
